[MASTER]
init-hook='import sys; sys.path.append(".")'

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    arguments-renamed,
    assignment-from-no-return,
    assignment-from-none,
    attribute-defined-outside-init,
    attribute-defined-outside-init,
    bad-classmethod-argument,
    broad-exception-caught,
    cell-var-from-loop,
    consider-using-enumerate,
    consider-using-f-string,
    consider-using-set-comprehension,
    consider-using-with,
    cyclic-import, # k8s is reporting this in regards to .server and .ssh
    duplicate-code,
    f-string-without-interpolation,
    fixme,
    implicit-str-concat,
    import-outside-toplevel,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    missing-timeout,
    no-else-continue,
    no-else-raise,
    no-else-return,
    no-else-return,
    no-member,
    no-value-for-parameter,
    pointless-statement,
    protected-access,
    raise-missing-from,
    redefined-builtin,
    redefined-outer-name,
    super-with-arguments,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements,
    undefined-variable,
    unexpected-keyword-arg,
    unidiomatic-typecheck,
    unnecessary-lambda,
    unnecessary-pass,
    unspecified-encoding,
    unused-argument,
    unused-import,
    unused-variable,
    used-before-assignment,
    useless-else-on-loop,
    useless-object-inheritance,
    useless-object-inheritance
